body {
    margin: 0;
    padding: 0;
    font-family: TT Lakes, Arial, sans-serif;
    background-color: #F8F8F8;
}

button {
    display: flex;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    display: flex;
}



@font-face {
    font-family: 'TT Lakes';
    src: url('TTLakes-Medium.eot');
    src: local('TT Lakes Medium'), local('TTLakes-Medium'),
        url('../fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes-Medium.woff2') format('woff2'),
        url('../fonts/TTLakes-Medium.woff') format('woff'),
        url('../fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url('TTLakesCompressed-Black.eot');
    src: local('TT Lakes Compressed Black'), local('TTLakesCompressed-Black'),
        url('../fonts/TTLakesCompressed-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakesCompressed-Black.woff2') format('woff2'),
        url('../fonts/TTLakesCompressed-Black.woff') format('woff'),
        url('../fonts/TTLakesCompressed-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url('TTLakesCondensed-Bold.eot');
    src: local('TT Lakes Condensed Bold'), local('TTLakesCondensed-Bold'),
        url('../fonts/TTLakesCondensed-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakesCondensed-Bold.woff2') format('woff2'),
        url('../fonts/TTLakesCondensed-Bold.woff') format('woff'),
        url('../fonts/TTLakesCondensed-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}